<div class="container">
    <div class="section-samplingtime">
        <div *ngFor="let samplingTime of forms | keyvalue">
            <div [ngClass]="{'active': samplingTime.key === selectedSamplingTime}" (click)="setForm(samplingTime.key)">
                {{ samplingTime.key | dateConvert:'dd-MM-yyyy hh:mm:ss a'}}</div>
        </div>
    </div>
    <div class="section-form">
        <form [formGroup]="currentForm" *ngIf="currentForm" (ngSubmit)="updateRecordValue()">
            <div *ngFor="let property of currentForm.controls | keyvalue">
                <label>{{ property.key }}</label>
                <div>
                    <input [formControlName]="property.key" [type]="getPropertyType(property.key)">
                </div>
                <br>
            </div>
            <button class="button" type="submit">Edit</button>
        </form>
    </div>
</div>